In [126]:
import pandas as pd
import matplotlib as plt
import pathlib
import fastai

In [127]:
pathname = 'raw/'
filename = '2006-10.csv'
data = pd.read_csv(pathname+filename)

## Data Exploration
1. <a href=#Missing_values>Missing values</a>
2. <a href=#stock_code>Stock code</a>
3. <a href=#target>Target value</a>

In [128]:
data.describe()

,current price,revenue per share,total cash per share,debt equity ratio,book value per share,Price per Earnings ratio,earnings per shares,total cash per dollar,book value per dollar,earnings per dollar,revenue per dollar,free cash flow,price to free cash flow
count,6681.000000,6681.00000,6681.000000,4120.000000,6681.000000,4120.000000,6681.000000,6.681000e+03,6.681000e+03,6.681000e+03,6.681000e+03,6.681000e+03,6.681000e+03
mean,20.728637,17.39463,3.643418,1.522685,9.613622,1.522685,0.840909,4.905065e+07,-1.381025e+08,-1.448260e+08,2.523252e+08,1.592647e+08,1.290687e+06
std,26.975429,35.96009,19.349333,9.387564,17.477736,9.387564,3.223246,8.267361e+08,1.148824e+10,1.098262e+10,7.522270e+09,1.366095e+09,1.160110e+07
min,0.000300,-1.46900,0.000000,0.000000,-151.354004,0.000000,-86.945000,0.000000e+00,-9.146870e+11,-8.974898e+11,-1.441391e+07,-9.162999e+09,-2.996222e+04
25%,5.420000,1.93100,0.227000,0.145750,2.146000,0.145750,-0.050000,5.755480e+05,3.526163e+06,-3.805960e+05,3.419522e+06,1.000000e+03,5.759738e+00
50%,15.060000,6.75400,1.137000,0.447000,7.203000,0.447000,0.540000,2.289358e+06,1.081208e+07,5.158540e+05,1.553033e+07,6.853000e+06,1.563876e+01
75%,28.900000,19.25000,3.301000,1.063750,13.725000,1.063750,1.560000,8.161566e+06,2.840168e+07,2.449520e+06,5.638251e+07,4.509300e+07,4.716598e+01
max,737.000000,865.12200,790.095000,424.204000,504.455994,424.204000,64.020000,4.810285e+10,1.446667e+10,9.140638e+08,5.939257e+11,6.664500e+10,5.533900e+08

In [129]:
data.head()

,Stock code,market cap,price per sale,current price,price per book,return on assets,return on equity,revenue per share,quarterly revenue growth,total cash per share,...,sector,industry,total cash per dollar,book value per dollar,earnings per dollar,revenue per dollar,free cash flow,price to free cash flow,s&p 52 week change,stock 52 week change
0,A,13.19B,2.39,32.27,3.55,13.20%,34.26%,12.408,17.00%,5.503,...,Technology,Scientific & Technical Instruments,69692161,117411598,86877744,157139802,742001000,1.777626e+01,8.85%,-1.55%
1,AA,24.06B,0.84,27.75,1.67,6.14%,13.22%,32.673,18.90%,0.523,...,Basic Materials,Aluminum,16338143,516197850,66539664,1020680971,-167999000,-1.432151e+02,8.85%,15.24%
2,AAA,7.65B,1.65,56.29,2.85,13.33%,23.16%,34.300,21.50%,5.338,...,Healthcare,Drug Manufacturers - Other,12895030,47879260,10290900,82858660,1000,7.650000e+06,8.85%,1.65%
3,AAC,17.47M,2.59,0.28,1.27,-1.84%,5.84%,0.104,193.70%,0.031,...,Services,Business Services,6909678,47476178,2228928,23180857,-336000,-5.199405e+01,8.85%,-20.59%
4,AACC,595.52M,2.32,16.00,2.12,13.73%,17.76%,6.754,-3.00%,1.487,...,Financial,Credit Services,3459133,17228207,2791500,15711492,66235000,8.991017e+00,8.85%,-46.34%

## Replace spaces in all feature names with underscore

In [130]:
data.columns = data.columns.str.split().str.join('_')
data.columns = data.columns.str.replace('&','')

In [131]:
data.drop('free_cash_flow',axis=1,inplace=True)

In [132]:
features = data.columns.drop('Stock_code')

In [133]:
features

Index(['market_cap', 'price_per_sale', 'current_price', 'price_per_book',
       'return_on_assets', 'return_on_equity', 'revenue_per_share',
       'quarterly_revenue_growth', 'total_cash_per_share', 'debt_equity_ratio',
       'book_value_per_share', 'operating_cash_flow', 'volume',
       'Price_per_Earnings_ratio', 'earnings_per_shares', 'sector', 'industry',
       'total_cash_per_dollar', 'book_value_per_dollar', 'earnings_per_dollar',
       'revenue_per_dollar', 'price_to_free_cash_flow', 'sp_52_week_change',
       'stock_52_week_change'],
      dtype='object')

In [90]:
int_feature = ['market_cap','volume','operating_cash_flow','total_cash_per_dollar' ,\
               'book_value_per_dollar',	'earnings_per_dollar'	,'revenue_per_dollar']

In [134]:
float_feature = [ 'price_per_sale', 'price_per_book',\
       'return_on_assets', 'return_on_equity', 'revenue_per_share',\
       'quarterly_revenue_growth', 'total_cash_per_share', 'debt_equity_ratio',\
       'book_value_per_share', \
       'Price_per_Earnings_ratio', 'earnings_per_shares',  'price_to_free_cash_flow',\
       'sp_52_week_change', 'stock_52_week_change']

### <a name="Missing_values"/> Missing values

In [135]:
data.isna().mean().sort_values()

Stock_code                  0.000000
price_to_free_cash_flow     0.000000
revenue_per_dollar          0.000000
earnings_per_dollar         0.000000
book_value_per_dollar       0.000000
total_cash_per_dollar       0.000000
earnings_per_shares         0.000000
volume                      0.000000
sp_52_week_change           0.000000
book_value_per_share        0.000000
stock_52_week_change        0.000000
total_cash_per_share        0.000000
quarterly_revenue_growth    0.000000
revenue_per_share           0.000000
return_on_equity            0.000000
return_on_assets            0.000000
current_price               0.000000
market_cap                  0.000748
price_per_sale              0.002245
sector                      0.011675
industry                    0.011675
price_per_book              0.065110
operating_cash_flow         0.171082
Price_per_Earnings_ratio    0.383326
debt_equity_ratio           0.383326
dtype: float64

In [136]:
missing_cols = data.isna()
missing_cols.columns = missing_cols.columns + '_missing'
missing_cols = missing_cols.loc[:,missing_cols.any()]

In [137]:
data.head()

,Stock_code,market_cap,price_per_sale,current_price,price_per_book,return_on_assets,return_on_equity,revenue_per_share,quarterly_revenue_growth,total_cash_per_share,...,earnings_per_shares,sector,industry,total_cash_per_dollar,book_value_per_dollar,earnings_per_dollar,revenue_per_dollar,price_to_free_cash_flow,sp_52_week_change,stock_52_week_change
0,A,13.19B,2.39,32.27,3.55,13.20%,34.26%,12.408,17.00%,5.503,...,6.86,Technology,Scientific & Technical Instruments,69692161,117411598,86877744,157139802,1.777626e+01,8.85%,-1.55%
1,AA,24.06B,0.84,27.75,1.67,6.14%,13.22%,32.673,18.90%,0.523,...,2.13,Basic Materials,Aluminum,16338143,516197850,66539664,1020680971,-1.432151e+02,8.85%,15.24%
2,AAA,7.65B,1.65,56.29,2.85,13.33%,23.16%,34.300,21.50%,5.338,...,4.26,Healthcare,Drug Manufacturers - Other,12895030,47879260,10290900,82858660,7.650000e+06,8.85%,1.65%
3,AAC,17.47M,2.59,0.28,1.27,-1.84%,5.84%,0.104,193.70%,0.031,...,0.01,Services,Business Services,6909678,47476178,2228928,23180857,-5.199405e+01,8.85%,-20.59%
4,AACC,595.52M,2.32,16.00,2.12,13.73%,17.76%,6.754,-3.00%,1.487,...,1.20,Financial,Credit Services,3459133,17228207,2791500,15711492,8.991017e+00,8.85%,-46.34%

In [138]:
missing_cols.head()

,market_cap_missing,price_per_sale_missing,price_per_book_missing,debt_equity_ratio_missing,operating_cash_flow_missing,Price_per_Earnings_ratio_missing,sector_missing,industry_missing
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False
2,False,False,False,False,True,False,False,False
3,False,False,False,True,False,True,False,False
4,False,False,False,False,False,False,False,False

In [139]:
data = pd.concat([data,missing_cols],axis=1)

   ### <p style="background-color:Tomato;">Discussion</p>
__When there are 40% of data is Nan__, it's not ideal to simply get rid of entire row which some entries contain Nan. 
Maybe we should find a way to fill in meaning value to those entries.

### <a name="stock_code"/>Some stock codes appear more than once, why?

In [140]:
# drop missing stock code
data.dropna(subset=['Stock_code'],inplace=True)

In [141]:
# data['code_count'] = data.groupby('Stock code', as_index=False)['Stock code'].transform(lambda s: s.count())

In [142]:
# data[data['code_count']>=2].head()

In [143]:
# print('There are %f percentage of data has the same stock code'% ((data['code_count']>=2).mean()*100))

#### Parsing text into numbers

In [144]:
KMB_cols = ['market_cap','operating_cash_flow','volume']
def transformKMB(x,cols,inplace= True):
    for col in cols:
        if x[col].dtypes !='object':
            return x[col]
        x[col] = x[col].fillna(0)
        
#         print(x[col].isna().any())
        temp = x[col].str.extract('([+-]?[0-9]*[.]?[0-9]+)([MKB]?)')
#         temp[0]  = temp[0].fillna(0)
        temp[0] = temp[0].astype('float')
        def helper(x):
            symb = {'K':1 , 'M':1000, 'B':1000000}
        #     print(x.shape)
            return x[0]*symb[x[1]] if x[1] in symb else x[0]
        if inplace:
            x[col] = temp.apply(helper,axis=1)
            x[col] = x[col].fillna(0).astype(int)
        else:
            return temp.apply(helper,axis=1)

In [145]:
transformKMB(data,KMB_cols)

In [146]:
data[KMB_cols]

      market_cap  operating_cash_flow  volume
0       13190000                   65       3
1       24060000                  699       5
2        7650000                    0       7
3          17470                   26     125
4         595520                    6     188
...          ...                  ...     ...
6676      744880                    5     251
6677       20160                    3       6
6678       50620                  379      34
6679         650                  101       1
6680     1190000                    5     189

[6681 rows x 3 columns]

#### deal with percentage

In [149]:
percentage_rows =['return_on_assets','return_on_equity','quarterly_revenue_growth','sp_52_week_change','stock_52_week_change']
def transformPer(x,cols,inplace=True):
    for col in cols:
        if x[col].dtypes !='object':
            continue

        num_sym = x[col].str.extract('([+-]?[0-9]*[.]?[0-9]+)([MKB]?)')
        num_sym[0] = num_sym[0].astype('float')
        def helper(x):
            symb = {'K':1 , 'M':1000, 'B':1000000}
            return x[0]*symb[x[1]] if x[1] in symb else x[0]
        
        if inplace:
            x[col] = num_sym.apply(helper,axis=1)
        else:
            x[col+'per'] = num_sym.apply(helper,axis=1)

In [150]:
transformPer(data,percentage_rows)

#### deal with xxx,xxx(comma) in numbers

In [151]:
# not sure which features contain comma, and therefore we include all features
comma_rows = features
def transformComma(x,cols,inplace = True):
    for col in cols:
        if x[col].dtypes !='object':
            continue
        if inplace:
            x[col] = x[col].str.replace(',' ,'')
        else:
            return x[col].str.replace(',' ,'')

In [152]:
transformComma(data,features)

### Cast all features into float64

In [153]:
data[float_feature] = data[float_feature].astype('float64')
data[int_feature] = data[int_feature].fillna(0)

In [154]:
data[int_feature].astype('int')

,market_cap,volume,operating_cash_flow,total_cash_per_dollar,book_value_per_dollar,earnings_per_dollar,revenue_per_dollar
0,13190000,3,65,69692161,117411598,86877744,157139802
1,24060000,5,699,16338143,516197850,66539664,1020680971
2,7650000,7,0,12895030,47879260,10290900,82858660
3,17470,125,26,6909678,47476178,2228928,23180857
4,595520,188,6,3459133,17228207,2791500,15711492
...,...,...,...,...,...,...,...
6676,744880,251,5,540559,3014462,531362,8868652
6677,20160,6,3,795289,732913,-9252385,2411857
6678,50620,34,379,237975,2186869,488476,4564120
6679,650,1,101,157705,3672294,-3829999,16153588
6680,1190000,189,5,1853445,-16290811,5783307,144938055

In [155]:
data.columns

Index(['Stock_code', 'market_cap', 'price_per_sale', 'current_price',
       'price_per_book', 'return_on_assets', 'return_on_equity',
       'revenue_per_share', 'quarterly_revenue_growth', 'total_cash_per_share',
       'debt_equity_ratio', 'book_value_per_share', 'operating_cash_flow',
       'volume', 'Price_per_Earnings_ratio', 'earnings_per_shares', 'sector',
       'industry', 'total_cash_per_dollar', 'book_value_per_dollar',
       'earnings_per_dollar', 'revenue_per_dollar', 'price_to_free_cash_flow',
       'sp_52_week_change', 'stock_52_week_change', 'market_cap_missing',
       'price_per_sale_missing', 'price_per_book_missing',
       'debt_equity_ratio_missing', 'operating_cash_flow_missing',
       'Price_per_Earnings_ratio_missing', 'sector_missing',
       'industry_missing'],
      dtype='object')

In [158]:
data['sp_average_change']  = data['sp_52_week_change'] ** (1/13)

data.drop('sp_52_week_change',axis=1,inplace=True)

### Overview of data after previous steps

In [47]:
data[features].head()

KeyError: "['s&p_52_week_change'] not in index"

### Now, all features except stock code are in float64.

In [48]:
data.dtypes

Stock_code                           object
market_cap                            int64
price_per_sale                      float64
current_price                       float64
price_per_book                      float64
return_on_assets                    float64
return_on_equity                    float64
revenue_per_share                   float64
quarterly_revenue_growth            float64
total_cash_per_share                float64
debt_equity_ratio                   float64
book_value_per_share                float64
operating_cash_flow                   int64
volume                                int64
Price_per_Earnings_ratio            float64
earnings_per_shares                 float64
sector                               object
industry                             object
total_cash_per_dollar                 int64
book_value_per_dollar                 int64
earnings_per_dollar                   int64
revenue_per_dollar                    int64
free_cash_flow                        int64
price_to_free_cash_flow             float64
stock_52_week_change                float64
market_cap_missing                     bool
price_per_sale_missing                 bool
price_per_book_missing                 bool
debt_equity_ratio_missing              bool
operating_cash_flow_missing            bool
Price_per_Earnings_ratio_missing       bool
sector_missing                         bool
industry_missing                       bool
s&p_average_change                  float64
dtype: object

folder = pathlib.Path(pathname)
target_folder = folder.joinpath('preprocessed')
if not target_folder.exists():
    target_folder.mkdir()
file_path = target_folder.joinpath(filename)

data.to_csv(file_path.as_posix(),index=False)